.container {
  width: 70%;
  height: auto;
  border: 1px solid #4b56ef;
  border-radius: 5px;
  padding: 5%;
  margin: auto;
}

.container .header {
  margin: 25px;
}

.container .body {
  margin: 25px;
}


.container .header p {
  text-align: center;
  font-size: 20px;
  font-style: oblique;
  text-decoration: underline;
}